
<form class="form-horizontal">
	<H4>FilaWeigher</H4>
	<div class="control-group">

	</div>

	<div class='filaweigher-settings-container'>
		<H4>Sensors</H4>		
		<p>
			Specify the IP address of the FilaWeigher
		</p>	
		
		<div class="control-group">
			<label class="control-label">{{ _('FilaWeigher IP') }}</label>
			<div class="controls">
				<div class="input-append">
					<input type="text" class="input-block-level" id='settings-filaweigherIP' data-bind="value: settings.settings.plugins.filaweigher.filaweigherIP">
				</div>				
			</div>
		</div>
	</div>	
</form>
