
<form class="form-horizontal">
	<H4>Current Scale Reading</H4>
	<div class="control-group">

	</div>

	
	<div class='filaweigher-settings-container'>
		<H4>Sensors</H4>		
		<p>
			Specify the MQTT Topics for the filament scale
		</p>	
		
		<div class="control-group">
			<label class="control-label">{{ _('Weight Topic') }}</label>
			<div class="controls">
				<div class="input-append">
					<input type="text" class="input-mini" id='settings-weight-topic' data-bind="value: settings.settings.plugins.filaweigher.weightTopic">
				</div>				
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">{{ _('Humidity Topic') }}</label>
			<div class="controls">
				<div class="input-append">
					<input type="text" class="input-mini" id='settings-temperature-topic' data-bind="value: settings.settings.plugins.filaweigher.temperatureTopic">
				</div>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">{{ _('Humidity Topic') }}</label>
			<div class="controls">
				<div class="input-append">
					<input type="text" class="input-mini" id='settings-humidity-topic' data-bind="value: settings.settings.plugins.filaweigher.humidityTopic">
				</div>
			</div>
		</div>	
		
		<div class="control-group">
			<label class="control-label">{{ _('Pressure Topic') }}</label>
			<div class="controls">
				<div class="input-append">
					<input type="text" class="input-mini" id='settings-pressure-topic' data-bind="value: settings.settings.plugins.filaweigher.pressureTopic">
				</div>
			</div>
		</div>	
	</div>
</form>
